PORT=4000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fullstack_demo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# DynamoDB (use local endpoint for dev)
DYNAMODB_ENDPOINT=http://localhost:8000
AUDIT_TABLE=customer_audit
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
